body {
      background-color: #0c0a0a;
    }
    #form-container {
      width: 500px;
      margin: 0 auto;
      background-color: #f1f1f7;
      border: 2px solid #da0808;
      border-radius: 10px;
      padding: 20px;
    }
    #form-container h2 {
      text-align: center;
      color: #1E90FF;
    }
    #form-container input[type="text"], #form-container input[type="date"], #form-container input[type="tel"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid #f1d0d0;
      border-radius: 5px;
    }
    #form-container input[type="submit"] {
      background-color: #1E90FF;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }
    #form-container input[type="submit"]:hover {
      background-color: #004B8D;
    }
    #footer {
      text-align: center;
      margin-top: 30px;
      font-size: 12px;
      color: #f7f1f1;
    }
